{% extends 'base.html' %}
{% load hosts %}

{% block title %}Edit Account{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item">User</li>
    <li class="breadcrumb-item"><a href="{% host_url 'user_profile' username=user.username host 'account' %}">{{ user.username }}</a></li>
    <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-success">Save changes</button>
            </form>
        </div>
    </div>
{% endblock %}
