{% extends 'boards/../base.html' %}
{% load hosts %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% host_url 'user_profile' username=user.username host 'www' %}">{{ user.username }}</a></li>
    <li class="breadcrumb-item"><a href="{% host_url 'edit_profile' host 'www' %}">Edit Profile</a></li>
    <li class="breadcrumb-item active">Change Password</li>
{% endblock %}

{% block content %}
    <p class="display-4">Change Password</p>
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mb-3">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-success">Change password</button>
            </form>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-10 col-12 mb-4">
            <h5>Forgotten Password?</h5>
            <p class="text-danger">
                You cannot use this form if you've forgotten your password.
                If you no longer have access to the email associated with this account to receive the reset link,
                then you will have to create a new account when this session expires.
            </p>
            <a class="btn btn-danger" href="{% host_url 'password_reset' host 'www' %}">Reset Password</a>
        </div>
    </div>
{% endblock %}