{% extends 'boards/../base.html' %}
{% load hosts %}
{% load gravatar %}
{% block title %}{{ profile_data.first_name }} {{ profile_data.last_name }} ({{ profile_data.username }}){% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ profile_data.username }}</li>
{% endblock %}

{% block content %}
    <div class="row py-3">
        <div class="col-md-3 col-sm-10 col-12 mb-3" id="sticky-sidebar">
            {% if user.pk == profile_data.pk %}
                <div class="mb-4">
                    <a class="btn btn-primary" href="{% host_url 'edit_profile' host 'account' %}">Edit Profile</a>
                </div>
            {% endif %}
            <div class="sticky-top">
                <div class="nav flex-column">
                    <div class="row">
                        <div class="col-md-12 col-2 mb-4 order-md-0 order-1">
                            <p class="h4">{{ profile_data.username }}</p>
                        </div>
                        <div class="col-md-12 col-4 order-md-1 order-0">
                            <img src="{{ profile_data|gravatar }}" alt="{{ profile_data.username }}" class="w-100 rounded">
                        </div>
                        <div class="col-md-12 col-12 order-md-2 order-2">
                            <p class="text-dark">{{ profile_data.first_name }} {{ profile_data.last_name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-10 col-12 mb-3" id="main">
            <p class="display-4">Welcome to the new profile page!</p>
            {% for post in post_list %}
            {{ post.message }}
            {% endfor %}
            <p class="text-info text-center">
                We haven't finished our new profile pages yet :( <br>
                We have a few things we need to finish, such as privacy settings, before you can edit and view other users' profiles.
            </p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VFZNvj-HfBU?rel=0"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
