{% extends 'base.html' %}

{% block title %}Error 404{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Error 404</li>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            Error 404
            <small class="text-muted"> - Page not found!</small>
        </h1>
    </div>
    <div class="container-fluid">
        <p>The URL you've entered had no page associated with it. Try another URL.</p>
        <h3>Believe this error is an error?</h3>
        <p>Currently I have no system in place to report than a 404 error, this is because more than likely the URL you have entered is not correct, please check it again</p>
    </div>

{% endblock %}
