{% extends 'base.html' %}

{% block title %}Error 500{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Error 500</li>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            Error 500
            <small class="text-muted"> - Server Error!</small>
        </h1>
    </div>
    <div class="container-fluid">
    <p>That was our fault, please try again!</p>
    <div class="container">
        <h3 class="align-content-lg-center">What are we doing about these errors?</h3>
        <ol>
            <li>Currently unfortunately nothing :(</li>
            <li>I'm working on saving all error details to the database</li>
            <li>...and then setting it up so you can use the API to see error details</li>
            <li>or I might show error details also on this error page</li>
            <li>
                <b>But for now just know it wasn't your fault, and if you want to report this error
                    <a href="https://github.com/RhysMJ2/rhys-website/issues">Click Here</a>
                </b>
            </li>
        </ol>
    </div>
    </div>
{% endblock %}
