{% load form_tags widget_tweaks %}

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
    {% endfor %}
    </div>

{% elif not form.is_valid.valid and form.is_bound %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>There are some errors.</strong> Please check and correct any errors below
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

{% for field in form %}
    <div class="form-label-group">
        {% render_field field class=field|input_class placeholder=field.name %}
        {{ field.label_tag }}
        {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
        {% endfor %}
        {% if field.help_text %}
            <small class="form-text text-muted">
                {{ field.help_text|safe }}
            </small>
        {% endif %}
    </div>
{% endfor %}
